<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加学生</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/my_css.css">

<body>
<div class="box" style="height: 280px">
    <form class="form-group" action="{% url "add_student" %}" method="post">
        {% csrf_token %} <!--跨站点伪造防护-->
        <p>姓名：<input class="ipt" type="text" name="sname"></p>
        <p>班级：
            <select name="cid">
                {% for class in class_list %}
                    <option value="{{ class.id }}">{{ class.cname }}</option>
                {% endfor %}
            </select>
        </p>
        <p>身高：<input class="ipt" type="text" name="height"></p>
        <p>绰号：<input class="ipt" type="text" name="memo"></p>
        <p class="sub">
            <input class="btn btn-default" type="submit" value="提交">
            <a class="btn btn-default" href="{% url "student_list" %}">取消</a>
        </p>
    </form>
</div>

</body>
</html>