<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>班级信息</title>
    <link rel="stylesheet" href="../static/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/show.css">
</head>
<body>
<h1 class="tit">水浒学院教务管理系统</h1>
<div class="box">
    <a class="btn btn-default" href="{% url "add_class" %}">添加班级</a>
    <a class="btn btn-default" href="{% url "school" %}">返回主页</a>
    <table class="table table-bordered" border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>班级信息</th>
            <th>开班时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for class in class_list %}
            <tr>
                <td>{{ class.id }}</td>
                <td>{{ class.cname }}</td>
                <td>{{ class.first_day|date:"Y-m-d" }}</td>
                <td>
                    <a class="glyphicon glyphicon-pencil" style="font-size: 12px; color: #53ae16;"
                       href="{% url "edit_class" class.id %}">编辑</a>
                    <a class="glyphicon glyphicon-remove" style="font-size: 12px; color: #ae1115;"
                       href="{% url "delete_class" %}?class_id={{ class.id }}">删除</a>

                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>


</body>
</html>