<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>水浒学院教务管理系统</title>
    <link rel="stylesheet" href="../static/css/school.css">
</head>

<body>
<div class="school">

    <h1 style="margin-bottom: 50px">水浒学院教务管理系统</h1>

    <div>
        <form action="{% url "student_list" %}" method="post">
            {% csrf_token %}
            <input class="bt" type="submit" value="学生" name="class">
        </form>

        <form action="{% url "teacher_list" %}" method="post">
            {% csrf_token %}
            <input class="bt" type="submit" value="教师" name="class">
        </form>

        <form action="{% url "class_list" %}" method="post">
            {% csrf_token %}
            <input class="bt" type="submit" value="班级" name="class">
        </form>
    </div>


</div>
</body>
</html>